@charset "utf-8";

@import "minimal-mistakes/skins/sunrise"; // skin
@import "minimal-mistakes"; // main partials

@font-face {
  font-family: "ETBookOSF";
  src: url("../et-book-roman-old-style-figures.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "ETBookOSF", "Noto Sans", sans-serif;
  background: #fffff8;
}

code, pre {
  font-family: monospace;
}
