@charset "utf-8";

@font-face {
  font-family: "ETBookOSF";
  src: url("../et-book-roman-old-style-figures.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Override theme variables before imports
$serif: "ETBookOSF", Georgia, Times, serif;
$global-font-family: $serif;
$header-font-family: $serif;
$caption-font-family: $serif;
$background-color: #fffff8;

@import "minimal-mistakes/skins/sunrise"; // skin
@import "minimal-mistakes"; // main partials
