---
---

@font-face {
  font-family: "ETBookOSF";
  src: url("../et-book-roman-old-style-figures.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

$serif: "ETBookOSF", Georgia, Times, serif;
$sans-serif: "ETBookOSF", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$sans-serif-narrow: $sans-serif;

@import "minimal-mistakes/skins/sunrise";
@import "minimal-mistakes";
